@model ContractModel
@{
	Layout = null;
}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" "http://www.w3.org/Math/DTD/mathml2/xhtml-math11-f.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--This file was converted to xhtml by LibreOffice - see http://cgit.freedesktop.org/libreoffice/core/tree/filter/source/xslt for the code.-->

<head profile="http://dublincore.org/documents/dcmi-terms/">
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<title xml:lang="en-US">Учредителен договор на БЗДРНЦ</title>
	<style type="text/css">

		table {
			border-collapse: collapse;
			border-spacing: 0;
			empty-cells: show
		}

		td,
		th {
			vertical-align: top;
			font-size: 12pt;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			clear: both
		}

		ol,
		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li span. {
			clear: both;
			line-height: 0;
			width: 0;
			height: 0;
			margin: 0;
			padding: 0;
		}

		span.footnodeNumber {
			padding-right: 1em;
		}

		span.annotation_style_by_filter {
			font-size: 95%;
			font-family: Arial;
			background-color: #fff000;
			margin: 0;
			border: 0;
			padding: 0;
		}

		* {
			margin: 0;
		}

		.Footer {
			font-size: 12pt;
			text-align: left ! important;
			font-family: Times New Roman;
			writing-mode: lr-tb;
		}

		.P1 {
			font-size: 12pt;
			font-weight: bold;
			margin-bottom: 0in;
			margin-top: 0in;
			text-align: justify ! important;
			font-family: Times New Roman;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			text-indent: 0in;
		}

		.P10 {
			font-size: 12pt;
			margin-bottom: 0in;
			margin-top: 0.1945in;
			text-align: left ! important;
			font-family: Verdana;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			text-indent: 0in;
		}

		.P11 {
			font-size: 12pt;
			margin-bottom: 0in;
			margin-top: 0.1945in;
			text-align: justify ! important;
			font-family: Times New Roman;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			text-indent: 0in;
		}

		.P12 {
			font-size: 12pt;
			text-align: left ! important;
			font-family: Times New Roman;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			text-indent: 0in;
		}

		.P13 {
			font-size: 12pt;
			text-align: center ! important;
			font-family: Times New Roman;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			margin-top: 0.0835in;
			margin-bottom: 0.0835in;
			text-indent: 0in;
		}

		.P14 {
			font-size: 12pt;
			text-align: left ! important;
			font-family: Times New Roman;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			margin-top: 0.1945in;
			margin-bottom: 0.1945in;
			text-indent: 0in;
		}

		.P15 {
			font-size: 12pt;
			text-align: justify ! important;
			font-family: Times New Roman;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			margin-top: 0.1945in;
			margin-bottom: 0.1945in;
			text-indent: 0in;
		}

		.P16 {
			font-size: 12pt;
			text-align: left ! important;
			font-family: Verdana;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			margin-top: 0.1945in;
			margin-bottom: 0.1945in;
			text-indent: 0in;
		}

		.P17 {
			font-size: 12pt;
			text-align: justify ! important;
			font-family: Verdana;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			margin-top: 0.1945in;
			margin-bottom: 0.1945in;
			text-indent: 0in;
		}

		.P18 {
			font-size: 12pt;
			text-align: center ! important;
			font-family: Times New Roman;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			margin-top: 0.1945in;
			margin-bottom: 0.1945in;
			text-indent: 0in;
		}

		.P2 {
			font-size: 12pt;
			margin-bottom: 0.1945in;
			margin-top: 0.1945in;
			text-align: center ! important;
			font-family: Verdana;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			text-indent: 0in;
			font-weight: bold;
		}

		.P3 {
			font-size: 12pt;
			margin-bottom: 0.1945in;
			margin-top: 0in;
			text-align: center ! important;
			font-family: Times New Roman;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			text-indent: 0in;
		}

		.P4 {
			font-size: 12pt;
			font-weight: normal;
			margin-bottom: 0in;
			margin-top: 0in;
			text-align: justify ! important;
			font-family: Verdana;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			text-indent: 0in;
		}

		.P5 {
			font-size: 12pt;
			margin-bottom: 0in;
			margin-top: 0.0835in;
			text-align: justify ! important;
			font-family: Verdana;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			text-indent: 0in;
		}

		.P6 {
			font-size: 12pt;
			margin-bottom: 0.1945in;
			margin-top: 0.1945in;
			text-align: justify ! important;
			font-family: Times New Roman;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			text-indent: 0in;
		}

		.P7 {
			font-size: 12pt;
			margin-bottom: 0.1945in;
			margin-top: 0.1945in;
			text-align: justify ! important;
			font-family: Verdana;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			text-indent: 0in;
		}

		.P8 {
			font-size: 12pt;
			margin-bottom: 0.1945in;
			margin-top: 0.0835in;
			text-align: justify ! important;
			font-family: Times New Roman;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			text-indent: 0in;
		}

		.P9 {
			font-size: 12pt;
			margin-bottom: 0in;
			margin-top: 0.1945in;
			text-align: left ! important;
			font-family: Times New Roman;
			writing-mode: lr-tb;
			margin-left: 0in;
			margin-right: 0in;
			text-indent: 0in;
		}

		.Emphasis {
			font-style: italic;
		}

		.Strong_20_Emphasis {
			font-weight: bold;
		}

		.T1 {
			font-size: 14pt;
			font-weight: bold;
		}

		.T2 {
			font-family: Verdana;
			font-size: 14pt;
			font-weight: bold;
		}

		.T4 {
			font-family: Verdana;
			font-weight: bold;
		}

		.T5 {
			font-family: Verdana;
		}

		.T6 {
			font-family: Verdana;
		}

		.T8 {
			font-family: Verdana;
			font-weight: normal;
		}

		.WW8Num1z0 .WW8Num1z1 .WW8Num1z2 .WW8Num1z3 .WW8Num1z4 .WW8Num1z5 .WW8Num1z6 .WW8Num1z7 .WW8Num1z8 {}
	</style>
</head>

<body dir="ltr"
	style="max-width:8.2681in;margin-top:0.9839in; margin-bottom:0.9839in; margin-left:0.9839in; margin-right:0.9839in; ">
	<p class="P3"><span class="T2">ДРУЖЕСТВЕН ДОГОВОР</span><span class="T1"> </span></p>
	<p class="P2">НА</p>
	<p class="P13"><span class="Strong_20_Emphasis"><span class="T5">БЗДРНЦ</span></span><span class="Strong_20_Emphasis"><span class="T6"></span></span></p>
	<p class="P13"><span class="Strong_20_Emphasis"><span class="T6">/името на дружеството/</span></span></p>
	<h2 class="P4"><a id="a__ "><span /></a> </h2>
	<h2 class="P4"><a id="a__ "><span /></a> </h2>
	<h2 class="P4"><a id="a__Днес________________________________20_____ г___в_гр_____________________________"><span /></a>Днес,@Model.Date г., в @Model.Address,</h2>
	
	@for(var i = 0; i < Model.Users.Count(); ++i)
	{
		var number = i + 1;
		<p class="P5">@number . @Model.Users[i].FbName </p>
	}
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6"> </span></span></p>
	<p class="P15"><span class="T6">наричани по-нататък “</span><span class="Strong_20_Emphasis"><span
				class="T6">СЪДРУЖНИЦИ</span></span><span class="T6">”, сключиха този договор както следва:</span></p>
	<p class="P15"></p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">ОБЩИ ПОЛОЖЕНИЯ</span></span></p>
	<p class="P9"><span class="Strong_20_Emphasis"><span class="T6">Чл. 1  </span></span><span
			class="T6">(1)</span><span class="Strong_20_Emphasis"><span class="T6"> </span></span><span
			class="T6">Настоящия договор представлява едновременно и устав на дружеството. При тълкуването на устава
		трябва да се търси волята на страните и целта на тълкуваната разпоредба.</span></p>
	<p class="P15"> </p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">ФИРМА, СЕДАЛИЩЕ И АДРЕС НА УПРАВЛЕНИЕ</span></span>
	</p>
	<h4 class="P1"><a
			id="a__Чл__2___1__Фирменото_наименование_на_дружеството_е_“_____________________”_ООД__което_се_изписва_и_на_латиница__транслитерация___ _“________________________”_Ltd_"><span /></a><span
			class="T6">Чл. 2.</span><span class="T8"> (1) Фирменото наименование на дружеството е
			“@Model.NameBG” ООД, което се изписва и на латиница /транслитерация/ : 
			“@Model.NameEN.”.Ltd.</span></h4>
	<p class="P11"><span class="T6">(2)</span><span class="Emphasis"><span class="T4"> </span></span><span
			class="T6">Фирменото наименование на</span><span class="Strong_20_Emphasis"><span class="T6">
			</span></span><span class="T6">дружеството и адреса на управлението му се посочват във всички негови
			документи.</span></p>
	<p class="P8"><span class="Strong_20_Emphasis"><span class="T6">Чл. 3.</span></span><span class="Emphasis"><span
				class="T4"> </span></span><span class="T6">(1) Седалището на дружеството е в гр.
			@Model.BzdrncCity</span></p>
	<p class="P17">(2) Адресът на управление на дружеството е в гр. @Model.BzdrncCity,
		 @Model.BzdrncAddress</p>
	<p class="P15"> </p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">ПРЕДМЕТ НА ДЕЙНОСТ</span></span></p>
	<p class="P6"><span class="Strong_20_Emphasis"><span class="T6">Чл. 4. </span></span><span class="T6">(1)
			Дружеството има следния предмет на дейност: </span></p>
	<p class="P14">........................................................................<span
			class="T6">........................................................................</span></p>
	<p class="P7">
		................................................................................................................................................
	</p>
	<p class="P15"> </p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">СРОК</span></span></p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 5.</span></span><span class="T6"> Дружеството
			се образува за неопределен срок.</span></p>
	<p class="P15"> </p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">КАПИТАЛ</span></span></p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 6.</span></span><span class="T6"> (1)
			Капиталът  на дружеството е в размер на 5 500 (пет хиляди и петстотин) долара, разпределен в 55 (петдесет и пет) дяла, всеки
			един с номинална стойност 100 (сто) долара.</span></p>
	<p class="P17">(2) Капиталът на дружеството е внесен изцяло.</p>
	<p class="P15"> </p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">ДЯЛОВЕ</span></span></p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 7.</span></span><span class="T6"> Съдружниците
			участват в капитала на дружеството с дялове, както следва:    </span></p>
			@for(var i = 0; i < Model.Users.Count(); ++i)
			{
				var index = i + 1;
				<p class="P17">@index. @Model.Users[i].FbName - (пет) дяла по 100
				долара, или общо 500 (петстотин) долара, представляващи ~9,09 % от капитала на дружеството</p>
			}
	<p class="P14"><span class="Strong_20_Emphasis"><span class="T6">Чл. 8.</span></span><span class="T6"> Към момента
			на подаване на заявлението за вписване на този дружествен договор в сметката на финансовия отговорник на БЗДРНЦ
			Михаил Петров е внесен пълният размер на капитала.</span></p>
	<p class="P18"> </p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">УПРАВЛЕНИЕ И ПРЕДСТАВИТЕЛСТВО</span></span></p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 9. </span></span><span class="T6">(1) Органи на
			дружеството са:</span></p>
	<p class="P17">1. общо събрание;</p>
	<p class="P17">2. управителя.</p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 10. </span></span><span
			class="T6">(1)</span><span class="Strong_20_Emphasis"><span class="T6"> </span></span><span
			class="T6"> Общото събрание се състои от съдружниците.</span></p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 11. </span></span><span class="T6">(1) Общото събрание:</span></p>
	<p class="P15"><span class="T6"></span><span class="T5"></span><span class="T6">1. взема решения относно уреждане на багажо-товарна/разтоварна дейност;</span></p>
	<p class="P15"><span class="T6"></span><span class="T5"></span><span class="T6">2. взема решения за разпределение на разходите покрай уредена багажо-товарна/разтоварна дейност между съдружниците;</span></p>
	<p class="P15"><span class="T6"></span><span class="T5"></span><span class="T6">3. взема решения за възмездно или безвъзмездно предоставяне на багажо-товарна/разтоварна дейност на съдружник без уредена такава;</span></p>
	<p class="P15"><span class="T6"></span><span class="T5"></span><span class="T6">4. взема решения за изготвяне на стратегия за мястото, консумативите, бюджета и присъствието на външни лица на предстоящо събрание;</span></p>
	<p class="P15"><span class="T6"></span><span class="T5"></span><span class="T6">5. дава оценка относно качеството на продоволствията, предоставени от създружник или външно лице при събрание;</span></p>
	<p class="P15"><span class="T6"></span><span class="T5"></span><span class="T6">6. дава оценка относно качеството на околния женски фонд;</span></p>
	<p class="P15"><span class="T6"></span><span class="T5"></span><span class="T6">7. дава оценка относно качеството на околния мъжки фонд;</span></p>
	<p class="P17"> </p>
	<p class="P17">Дружеството ще се управлява от: Мартин Захариев</p>
	<p class="P17"> </p>
	<p class="P17">(2) Управителят:</p>
	<p class="P17">1. следи за редовното участие на всички съдружници в общите комуникационни канали;</p>
	<p class="P17">2. осигурява речни и морски продоволствия при провеждане на събрание; </p>
	<p class="P17">3. провежда инструктаж за безопасност при управление на двуколесни моторни превозни средства;</p>
	<p class="P17">4. взема решения за включването на външни лица в общите комуникационни канали;</p>
	<p class="P17">5. назначава, глобява и уволнява финансовия надзорник на БЗДРНЦ;</p>
	<p class="P17"> </p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 12. </span></span><span class="T6">(1) Без
			съгласие на дружеството управителят няма право:</span></p>
	<p class="P17">1. да причинява телесни повреди на който и да е от съдружниците или външно лице;</p>
	<p class="P17"> </p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 13. </span></span><span class="T6">Всеки
			съдружник е длъжен:</span></p>
	<p class="P17">1. активно да участва в общите комуникационни канали;</p>
	<p class="P17">2. да приема градивни критики за своите действия от другите съдружници в общите комуникационни канали;</p>
	<p class="P17"> </p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">ПРИЕМАНЕ НА НОВ СЪДРУЖНИК И ИЗКЛЮЧВАНЕ НА СЪДРУЖНИК.</span></span></p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 14. </span></span><span class="T6">Нов
			съдружник се приема от общото събрание след одобрение от всички съдружници и при успешно полагане на изпит, вкючващ следните точки</span></p>
	<p class="P17">(1) Тест за проверка на способността на кандидата да приема хумористични коментари ("ебавки").
		Кандидатът преминава през щателна оценка на всеки един от съдружниците.
	</p>
	<p class="P17">(2) Тест за проверка на способността на кандидата да поема упойващи субстанции. Оценките са както следва:</p>
	<p class="P15"><span class="T6"></span><span class="T5"></span><span class="T6">1. Над 0,700ml - Оценка 6 ;</span></p>
	<p class="P15"><span class="T6"></span><span class="T5"></span><span class="T6">2. Под 0,700ml - Оценка 2 ;</span></p>
	<p class="P17"> </p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 15.</span></span><span class="T6"> (1) Общото
			събрание може да изключи съдружник, когато съдружника:</span></p>
	<p class="P17">1. умре;</p>
	<p class="P17">2. се ожени;</p>
	<p class="P17"> </p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">УВЕЛИЧАВАНЕ И НАМАЛЯВАНЕ НА КАПИТАЛА</span></span>
	</p>
	<p class="P14"><span class="Strong_20_Emphasis"><span class="T6">Чл. 16.</span></span><span class="T6">
			Увеличаването на капитала се извършва чрез:</span></p>
	<p class="P16">1. печатане на нови долари;</p>
	<p class="P17"> </p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 17. </span></span><span class="T6">Капиталът
			може да бъде намален или предоставен на трети лица само с изричното разрешение на всички съдружници</span></p>
	<p class="P15"> </p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">БАЛАНС, ПЕЧАЛБИ И ЗАГУБИ</span></span></p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 18. </span></span><span class="T6">(1)
			Печалбата на дружеството се разпределят между съдружниците на случаен принцип известен още като "ези-тура"</span></p>
	<p class="P16">1. На съдружниците Михаил Петров и Веселин Георгиев е позволено да участват в разпределението само с изричното съгласие на другите съдружници,
			поради опасността капитала да бъде присвоен еднолично;</p>
	<p class="P17"> </p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 19. </span></span><span class="T6">(1)
			Загубите на дружеството се покриват от трети лица</span></p>
	<p class="P17">(2) При неуспешно покриване на загубите от трети лица, загубите се разпределят на принципа описан в чл.18 ал.1</p>
	<p class="P16">1. Съдружниците Михаил Петров и Веселин Георгиев участват в разпределението на загубите без изричното съгласие на другите съдружници;</p>
	<p class="P15"> </p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">ИЗИСКВАНИЯ ОТ СЪДРУЖНИЦИ КЪМ ДРУГИ СЪДРУЖНИЦИ</span></span></p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 20. </span></span><span class="T6">(1) Следните съдружници са предявили своите изисквания към
		други съдружници на БЗДРНЦ като вторите се задължават стриктно да изпълняват тези изисквания:
	</span></p>
	@if(User.IsInRole("admin"))
	{
		var index = 1;
		foreach(var user in Model.Users)
		{
			if(user.CommentsTo.Count() > 0)
			{
				<p class="P16">@index) @user.FbName към:</p>
				foreach(var comment in user.CommentsTo)
				{
					if(!String.IsNullOrEmpty(comment.Comment))
					{
						<p class="P16">---
							@comment.ToUser.FbName - @comment.Comment</p>
					}
				}
				index++;
			}
		}
	}
	else
	{
		if(Model.User.CommentsTo.Count() > 0)
		{
			<p class="P16">1) @Model.User.FbName към:</p>
			foreach(var comment in Model.User.CommentsTo)
			{
				if(!String.IsNullOrEmpty(comment.Comment))
				{
					<p class="P16">---
						@comment.ToUser.FbName - @comment.Comment</p>
				}
			}
		}
	}
	<p class="P15"> </p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">ПРЕКРАТЯВАНЕ И ЛИКВИДАЦИЯ НА
				ДРУЖЕСТВОТО</span></span></p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 33. </span></span><span class="T6">Дружеството
			се прекратява:</span></p>
	<p class="P17">1. временно</p>
	<p class="P17">2. само в краен случай</p>
	<p class="P15"> </p>
	<p class="P18"><span class="Strong_20_Emphasis"><span class="T6">ЗАКЛЮЧИТЕЛНИ РАЗПОРЕДБИ</span></span></p>
	<p class="P15"><span class="Strong_20_Emphasis"><span class="T6">Чл. 34.</span></span><span class="T6"> Всички
			спорове между съдружниците или между дружеството и съдружниците, свързани с тълкуването или изпълнението на
			дружествения договор се решават чрез преговори "на маса" и след успешно повторно полагане на приемения изпит</span></p>
	<p class="P14"><span class="Strong_20_Emphasis"><span class="T6">СЪДРУЖНИЦИ:</span></span></p>
		@for(var i = 0; i < Model.Users.Count; ++i)
		{
			var index = i + 1;
			<p class="P16">@index) @Model.Users[i].FbName</p>
			<p style="text-align:right">....................................</p>
		}
</body>

</html>